Repository iorlas/dahack-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-generate-openapi-spec, pyright, biome-check

api-generate-openapi-spec:
  name: 'ğŸ“œ API: Generate OpenAPI Spec'
  entry: sh -c 'cd api && source .venv/bin/activate && python -m app.generate_openapi'
  language: system
  pass_filenames: false

pyright:
  name: ğŸ” Pyright Type Check
  entry: sh -c 'cd api && uv run pyright'
  language: system

biome-check:
  name: ğŸŒ³ Biome Check
  entry: sh -c 'cd ui && npx @biomejs/biome check --apply .'
  language: system

chore: integration tests boilerplate
  .gitignore
  api/app/core/models.py
  api/app/domains/todos/models.py
  api/app/domains/todos/schemas.py
  api/pyproject.toml
  api/tests/conftest.py
  api/tests/integration/test_todos.py
  api/uv.lock
  dahack-ai.code-workspace
  docker-compose.yml
  ui/app/layout.tsx
  ui/app/providers.tsx
  ui/app/todos/page.tsx
  ui/lib/api.ts
  ui/lib/utils.ts
  ui/package.json
  ui/pnpm-lock.yaml
Due: api-generate-openapi-spec, pyright, biome-check

chore: docker ignore
  api/.dockerignore
Due: pyright

chore: boilerplate e2e
  dahack-ai.code-workspace
  e2e/.gitignore
  e2e/README.md
  e2e/biome.json
  e2e/package.json
  e2e/playwright.config.ts
  e2e/pnpm-lock.yaml
  e2e/tests/home.spec.ts
  e2e/tsconfig.json
Due: biome-check

feat: system design
  .cursor/rules/system.mdc
Due: none

chore: security
  .cursor/rules/security.mdc
  docs/CONCERNS.md
  docs/REQUIREMENTS.md
Due: none

chore: basic s3 & redis
  .cursor/rules/python.mdc
  .cursor/rules/typescript.mdc
  api/app/core/config.py
  api/app/core/redis.py
  api/app/core/s3.py
  api/app/main.py
  api/openapi.yaml
  api/pyproject.toml
  api/uv.lock
  docker-compose.yml
Due: api-generate-openapi-spec, pyright

chore: update API paths and operation IDs, enhance Redis and S3 initialization
  api/app/core/config.py
  api/app/core/redis.py
  api/app/main.py
  api/openapi.yaml
  api/pyproject.toml
Due: api-generate-openapi-spec, pyright

feat: add comprehensive completion checklist and e2e feature tests for user registration, chat functionalities, contact management, group chats, image sharing, security, and UI/UX requirements
  COMPLETION_CHECKLIST.md
  e2e/features/advanced-features.feature
  e2e/features/contact-management.feature
  e2e/features/group-chat.feature
  e2e/features/image-sharing.feature
  e2e/features/one-on-one-chat.feature
  e2e/features/security-requirements.feature
  e2e/features/ui-ux-requirements.feature
  e2e/features/user-registration.feature
Due: none

auth endpoints
  README.md
  api/Dockerfile
  api/app/core/db.py
  api/app/domains/auth/README.md
  api/app/domains/auth/__init__.py
  api/app/domains/auth/api.py
  api/app/domains/auth/dependencies.py
  api/app/domains/auth/models.py
  api/app/domains/auth/schemas.py
  api/app/domains/auth/service.py
  api/app/main.py
  api/migrations/20240101_01_create_users_table.sql
  api/migrations/README.md
  api/run_migrations.py
  api/test_auth.py
  docker-compose.override.yml
  docker-compose.yml
  test_docker_migration.sh
Due: api-generate-openapi-spec, pyright

refactor: clean up project and typescript rules, add user authentication tests, and enhance UI components for chat application
  .cursor/rules/typescript.mdc
  docs/DX_ISSUES.md
  e2e/README.md
  e2e/biome.json
  e2e/playwright.config.ts
  e2e/tests/helpers/auth.ts
  e2e/tests/home.spec.ts
  e2e/tests/user-login.spec.ts
  e2e/tests/user-registration.spec.ts
  ui/app/api/auth/register/route.ts
  ui/app/chat/page.tsx
  ui/app/layout.tsx
  ui/app/login/page.tsx
  ui/app/page.tsx
  ui/app/register/page.tsx
Due: biome-check

fix: update docker-compose and clean up various files for consistency; enhance authentication flow and error handling in UI components
  docker-compose.override.yml
  e2e/playwright.config.ts
  test_docker_migration.sh
  ui/app/api/auth/register/route.ts
  ui/app/chat/page.tsx
  ui/app/layout.tsx
  ui/app/login/page.tsx
  ui/app/page.tsx
  ui/app/providers.tsx
  ui/app/register/page.tsx
  ui/app/todos/page.tsx
  ui/biome.json
  ui/eslint.config.mjs
  ui/lib/api.ts
  ui/next.config.ts
Due: biome-check

feat: add user authentication endpoints for registration, login, and current user retrieval; update OpenAPI schema and enhance migration scripts
  api/app/domains/auth/README.md
  api/app/domains/auth/__init__.py
  api/app/domains/auth/api.py
  api/app/domains/auth/dependencies.py
  api/app/domains/auth/models.py
  api/app/domains/auth/schemas.py
  api/app/domains/auth/service.py
  api/migrations/20240101_01_create_users_table.sql
  api/migrations/README.md
  api/openapi.yaml
  api/run_migrations.py
  api/test_auth.py
Due: api-generate-openapi-spec, pyright

contacts
  api/app/domains/auth/README.md
  api/app/domains/auth/__init__.py
  api/app/domains/auth/api.py
  api/app/domains/auth/contact_service.py
  api/app/domains/auth/models.py
  api/app/domains/auth/schemas.py
  api/migrations/20240103_01_refactor_contacts_invitations.sql
  api/test_all.py
  api/test_contacts.py
  docs/api/CONTACT_FLOW_DIAGRAM.md
Due: api-generate-openapi-spec, pyright

fix current user endpoint model
  api/app/domains/auth/api.py
  api/app/domains/auth/models.py
  api/app/domains/auth/schemas.py
Due: api-generate-openapi-spec, pyright

Merge branch 'main' of https://github.com/iorlas/dahack-ai
  api/app/domains/auth/models.py
  api/app/domains/auth/schemas.py
Due: api-generate-openapi-spec, pyright

contacts endpoint base route changed
  api/app/domains/auth/README.md
  api/app/domains/auth/api.py
  api/app/domains/auth/contacts_api.py
  api/app/main.py
  api/tests/test_all.py
  api/tests/test_auth.py
  api/tests/test_contacts.py
Due: api-generate-openapi-spec, pyright

refactor: remove mobile responsiveness tests and related documentation; streamline user registration and login processes with API calls; enhance error handling and form validation in UI components
  e2e/README.md
  e2e/features/ui-ux-requirements.feature
  e2e/tests/helpers/auth.ts
  e2e/tests/home.spec.ts
  e2e/tests/user-login.spec.ts
  e2e/tests/user-registration.spec.ts
  ui/app/chat/page.tsx
  ui/app/login/page.tsx
  ui/app/register/page.tsx
  ui/lib/api.ts
Due: biome-check

rooms api
  api/app/domains/auth/README.md
  api/app/domains/auth/__init__.py
  api/app/domains/auth/contact_service.py
  api/app/domains/auth/models.py
  api/app/domains/auth/room_schemas.py
  api/app/domains/auth/room_service.py
  api/app/domains/auth/rooms_api.py
  api/app/main.py
  api/migrations/20240104_01_create_rooms_tables.sql
Due: api-generate-openapi-spec, pyright

rooms api
  api/app/domains/auth/README.md
  api/app/domains/auth/contact_service.py
  api/app/domains/auth/room_schemas.py
  api/app/domains/auth/room_service.py
  api/app/domains/auth/rooms_api.py
  api/migrations/20240104_01_create_rooms_tables.sql
Due: api-generate-openapi-spec, pyright

feat: implement contact management features including invitation sending, acceptance, rejection, and retrieval; update OpenAPI schema and add corresponding UI components for contact interactions
  api/app/domains/auth/README.md
  api/app/domains/auth/api.py
  api/app/domains/auth/contact_service.py
  api/app/domains/auth/contacts_api.py
  api/app/domains/auth/models.py
  api/openapi.yaml
  api/tests/test_contacts.py
  e2e/tests/contact-management.spec.ts
  e2e/tests/helpers/contact.ts
  ui/app/chat/components/ContactList.tsx
  ui/app/chat/page.tsx
  ui/lib/api.ts
Due: api-generate-openapi-spec, pyright, biome-check

refactor: remove todos API and related models; implement rooms API with endpoints for room management, including creation, retrieval, member management, and deletion; update OpenAPI schema accordingly
  .pre-commit-config.yaml
  api/app/core/db.py
  api/app/core/models.py
  api/app/domains/auth/models.py
  api/app/domains/auth/room_schemas.py
  api/app/domains/auth/room_service.py
  api/app/domains/auth/rooms_api.py
  api/app/domains/todos/api.py
  api/app/domains/todos/models.py
  api/app/domains/todos/schemas.py
  api/app/main.py
  api/openapi.yaml
  api/pyproject.toml
  api/tests/integration/test_todos.py
Due: api-generate-openapi-spec, pyright

messaging
  api/app/domains/auth/README.md
  api/app/domains/auth/__init__.py
  api/app/domains/auth/api.py
  api/app/domains/auth/contact_service.py
  api/app/domains/auth/contacts_api.py
  api/app/domains/auth/message_schemas.py
  api/app/domains/auth/message_service.py
  api/app/domains/auth/messages_api.py
  api/app/domains/auth/models.py
  api/app/domains/auth/room_schemas.py
  api/app/domains/auth/room_service.py
  api/app/domains/auth/websocket_manager.py
  api/app/main.py
  api/migrations/20240105_01_create_messages_table.sql
  docs/api/MESSAGING_SUMMARY.md
Due: api-generate-openapi-spec, pyright

feat: add endpoint to retrieve message history for a room, including response schema for message details and pagination support
  api/openapi.yaml
  ui/lib/api.ts
Due: pyright, biome-check

chore: remove outdated DX_ISSUES.md and add new OUTCOME.md documenting hackathon insights, tech stack evaluation, and developer experiences with Cursor and Playwright
  docs/DX_ISSUES.md
  docs/OUTCOME.md
Due: none

Path conditions:
  api-generate-openapi-spec: any of: api/app/
  pyright: any of: ^api/
  biome-check: any of: \.(js|ts|jsx|tsx|json)$
